

.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
  max-width: 1200px;
  margin: auto; 
}

.contact-form {
  flex: 1;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form .form-group {
  display: flex;
  gap: 10px;
}

.contact-form input, 
.contact-form textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: auto; 
  font-size: 16px; 
.contact-form textarea {
  height: 150px; 
}
}


.contact-form button {
  background-color: #f4b400;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s; 
}

.contact-form button:hover {
  background-color: #d89600;
}



.contact-info {
  flex: 1;
  max-width: 50%;
  padding: 20px; 
  background-color: #f9f9f9;
  border-radius: 8px; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
  
}

.contact-info h2 {
  margin-bottom: 15px; 
  font-size: 26px; 
  color: #333;
 
}

.contact-info p {
  margin: 8px 0; 
  font-size: 18px; 
  line-height: 1.5; 
  color: #555; 
  
}
.homepage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background: url('D:\MERN\Notary\client\src\NoteryImg.jpg') no-repeat center center/cover;
  min-height: 100vh;
}


.content {
  color: white;
  max-width: 50%;
  margin-left: 2rem;
}

.content h1 {
  
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
  margin-top: 0;
    
    margin-bottom: 0.5rem;
    
    line-height: 1.2;
    font-weight: 300;
    
    font-family: 'Playfair Display';
    color: #fff !important;
    
    font-size: 50px;
}

.content p {
  font-size: 1.2rem;
  line-height: 1.5;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.9);
}
